<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-sacle">
	<title>Resume/CV Design</title>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="resume" id="resume">
   <div class="resume_left">
     <div class="resume_profile">
       <img src="../../../assets/images/dummy-profile-pic.jpg" alt="profile_pic">
     </div>
     <div class="resume_content">
       <div class="resume_item resume_info">
         <div class="title">
           <p class="bold">{{ resumeData?.fullname }}</p>
           <p class="regular">{{ resumeData?.position }}</p>
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fas fa-map-signs"></i>
             </div>
             <div class="data">
              {{ resumeData?.address }} <br />
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fas fa-mobile-alt"></i>
             </div>
             <div class="data">
              {{ resumeData?.mobile }}
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fas fa-envelope"></i>
             </div>
             <div class="data">
              {{ resumeData?.email }}
             </div>
           </li>
           
         </ul>
       </div>
       <div class="resume_item resume_skills">
         <div class="title">
           <p class="bold">skill's</p>
         </div>
      <li>
        <div class="data">
          {{resumeData?.skills}}
  
        </div>
      </li>
       </div>
       <div class="resume_item resume_social">
         <div class="title">
           <p class="bold">Social Links</p>
         </div>
         <ul>
           <li>
             <!-- <div class="icon">
               <i class="fab fa-facebook"></i>
             </div> -->
             <div class="data">
               <p class="semi-bold">Facebook</p>
               <p>{{ resumeData?.facebook }}</p>
             </div>
           </li>
           <li>
             <!-- <div class="icon">
               <i class="fab fa-github"></i>
             </div> -->
             <div class="data">
               <p class="semi-bold">Github</p>
               <p>{{ resumeData?.instagram }}</p>
             </div>
           </li>
           <li>
             
           </li>
           <li>
             <!-- <div class="icon">
              <i class="fab fa-linkedin"></i>
             </div> -->
             <div class="data">
               <p class="semi-bold">Linkedin</p>
               <p>{{ resumeData?.linkedin }}</p>
             </div>
           </li>
         </ul>
       </div>
     </div>
  </div>
  <div class="resume_right">
    <div class="resume_item resume_about">
        <div class="title">
           <p class="bold">Objective</p>
         </div>
        <p>{{ resumeData?.objective }}</p>
    </div>
    <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">Work Experience</p>
         </div>
         <div class="card-body">
          <ul>
              <li *ngFor="let exp of resumeData?.experience">
                  {{ exp }} <br />
                  <br />
              </li>
          </ul>
      </div>
    </div>
    <div class="resume_item resume_education">
      <div class="title">
           <p class="bold">Education</p>
         </div>
         <div class="card-body">
          <ul>
              <li *ngFor="let edu of resumeData?.education">
                  {{ edu }} <br />
                  <br />
              </li>
          </ul>
      </div>
    </div>
    <div class="resume_item resume_certificate">
      <div class="title">
           <p class="bold">Certifications</p>
         </div>
         <div class="card-body">
          <ul>
              <li *ngFor="let cer of resumeData?.certification">
                  {{ cer }} <br />
                  <br />
              </li>
          </ul>
      </div>
    </div>
    <div class="resume_item resume_project">
      <div class="title">
           <p class="bold">Projects</p>
         </div>
         <div class="card-body">
          <ul>
              <li *ngFor="let pro of resumeData?.project">
                  {{ pro }} <br />
                  <br />
              </li>
          </ul>
      </div>
    </div>
  </div>
</div>
<div class="container text-center mb-2">
  <button (click)="download()" class="btn btn-primary btn-lg">Download</button>
</div> 
</body>
</html>